.career{
    background-color: #f5f5f5;
    padding-bottom: 3rem;
}

.career_page_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.career_page_p{
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
    border-left: 1px solid rgba(122, 122, 122, 0.274);
}

.career_page_logo{
    width: 15rem;  
    height: 15rem;
    border-radius: 200px;
    background-color: white;
    border: 0.5px solid rgba(122, 122, 122, 0.274);
    display: flex;
    justify-content: center;
    align-items: center;
}

.career_page_logo img{
    width: 13rem;
    display: block;
}

.career_page_one{
    border-bottom: 1px solid rgba(122, 122, 122, 0.274);
}

.career_page_two{
    display: flex;
    flex-wrap: wrap;
}
