footer{
    background-color: black;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.footer_icons{
    display: flex;
}

.footer_icons div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: white;
    width: 3.3rem;
    height: 3.3rem;
}

.footer_icons img{
    height: 3rem;
    width: 3rem;
}

#t{
    height: 3.3rem;
    width: 3.3rem;
    padding:0 1rem;
}

#instar{
    height: 3.3rem;
    width: 3.3rem;
    padding-right:1rem;
}

.footer_git img{
    margin-top: 3px;
}

.footer_face img{
    margin-top: 3px;
}

footer span{
    padding-top: 1rem;
    color: white;
}

