html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

nav{
    background: linear-gradient(
        180deg,rgba(112,93,80,.8) 0,rgba(112,93,80,.8) 90%), url(img/masthead.jpg) ;
    background-size: cover;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    width: 100%;
}

.nav_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1.5rem 0;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.616);
    position: relative;
}

.logo{
    margin: 0 1rem;
}

.logo a{
    font-size: 1.7rem;
    font-weight: inherit;
    color: inherit;
    text-decoration: none;
}

.nav_box_menu a{
    font-size: 1.2rem;
    padding: 0 0.8rem;
    font-weight: inherit;
    color: inherit;
    text-decoration: none;
}

.nav_box_hamburger{
    display: none;
    border: 1px solid rgba(212, 212, 212, 0.616);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

#hamburger_menu {
    position: absolute;
    background-color: white;
    width: 100%;
    z-index: 1;
    color: black;
    display: none;
    top: 4rem;
    right: -2rem;
}

#hamburger_menu a {
    padding: 1rem 0;
    text-decoration: none;
    color: rgba(109, 109, 109, 0.616);
}

#hamburger_menu li {
    padding: 1rem 0;
}

#close {
    font-size: 1.3rem;
    color: rgba(109, 109, 109, 0.616);
}

#close:hover{
    color: tomato;
}

#hamburger_menu a:hover {
    color: tomato;
}





.sub_text{
    text-align: center;
    margin-top: 3rem;
}

.sub_text_area{
    color: white;
    font-size: 3.5rem;
    font-weight: 1000;
}

.sub_text_line{
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.sub_text_line_inner{
    height: 3px;
    width: 50px;
    background-color: tomato;
}

.sub_text h3{
    color: rgba(255, 255, 255, 0.616);
}

.sub_text_btn{
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.sub_text_btn_inner{
    background-color: tomato;
    border-radius: 30px;
    padding: 1rem 2rem;
}

.sub_text_btn_inner a {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.logo:hover{
    color: white;
}

.nav_box_menu a:hover{
    color: white;
}

.sub_text_btn_inner:hover{
    background-color: rgb(253, 67, 34);
}

@media screen and (max-width: 993px) {
    .nav_box{
        background-color: #fff;
        box-shadow: -3px 1px 5px white;
        justify-content: space-between;
        padding: 1rem 1.5rem;
    }

    .logo a {
        color:rgba(70, 60, 53, 1);
    }

    .logo a:hover{
        color: tomato;
    }

    .nav_box_menu{
        display: none;
    }

    .nav_box_hamburger{
        display: block;
    }

    .nav_box_hamburger:hover{
        background-color: rgba(212, 212, 212, 0.616);
        cursor: pointer;
    }

    .nav_box_hamburger > i {
        font-size: 2rem;
        color: rgba(109, 109, 109, 0.616);
    }

}

@media screen and (max-width:582px) {
    .sub_text_area {
        font-size: 2.5rem;
    }

    .sub_text h3 {
        font-size: 1rem;
    }
}